# Copy this file to .env and fill your real values
# For Gmail
SMTP_SERVICE=gmail
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=your_16_digit_app_password

# Optional custom SMTP (if not using SMTP_SERVICE)
# SMTP_HOST=smtp.your-provider.com
# SMTP_PORT=587
# SMTP_SECURE=false

# Optional
CONTACT_TO=coreberly@gmail.com
MAIL_FROM=yourgmail@gmail.com
JWT_SECRET=defaultsecret
